<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <%= image_tag groups_icon(@group, size=80), size: "80x80", class: "rounded" %>
</p>

<p>
  <strong>Transactions:</strong>
  <div class="center">
    <%= render @transactions %>
  </div>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
