<h1>WELCOME TO GROUP YOUR MEMES</h1>
<p>Categorize and rate your memes.</p>

<% if user_signed_in? %>
    <div>
        <%= link_to "All My Groups", groups_path %>
    </div>
    <div>
        <%= link_to "All My Transactions", transactions_path %>
    </div>
    <div>
        <%= link_to "All my external transactions", groupless_path %>
    </div>
    <div>
        <%= link_to "Create New Group", new_group_path %>
    </div>
    <div>
        <%= link_to "Create New Transaction", new_transaction_path %>
    </div>
    <div>
        <%= link_to "Edit User", edit_user_registration_path %>
    </div>
<% else %>
    <% controller.redirect_to :new_user_session %>
<% end %>
