<div class="border-r border-b border-l border-gray-400 rounded bg-white p-4 flex flex-col justify-between leading-normal mt-2">
    <div class="mb-8">
        <div class="text-gray-900 font-bold text-xl mb-2">
            <h5><%= link_to transaction.name, transaction_url(transaction.id), method: :get %></h5>
        </div>
        <p class="text-gray-700 text-base"><%= transaction.about %></p>
        <p class="text-gray-700 text-base">Rating: <%= transaction.rating %></p>
        <div class="flex items-center mt-2">
            <%= image_tag user_avatar(current_user, 40), class: "w-10 h-10 rounded-full mr-4"%>
            <div class="text-sm">
                <p class="text-gray-900 leading-none"><%= transaction.created_at.strftime('%d %b %Y') %></h5>
                <p class="text-gray-600"><%= transaction.user.username %></h5>
            </div>
        </div>
    </div>
</div>
