<!DOCTYPE html>
<html>
  <head>
    <title>GroupOurMemes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
  	<div class="notification is-light">
  		<p class="notice"><%= notice %></p>
  	</div>
  <% end %>
  <% if flash[:alert] %>
  	<div class="notification is-light">
  		<p class="alert"><%= alert %></p>
  	</div>
	<% end %>

  <% if user_signed_in? %>
    <%= image_tag user_avatar(current_user, 60) %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <%= link_to "Home", root_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
