<!DOCTYPE html>
<html>
  <head>
    <title>GroupOurMemes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notification?(notice) %>
    <%= notification?(alert) %>

    <%= nav_links(user_signed_in?) %>

    <%= yield %>
  </body>
</html>
